extends layout
block content

  .container
    .row
      .col.s6
        span
          img.responsive-img.circle.right(src='../images/Daryl.webp', alt='',width='225px').
      .col.s6
        span
          img.responsive-img.circle(src='../images/Molly.webp', alt='', width='225px')

  .container
    h4.center 
      b #{translation.DMP}
      .row
        .col.s12.m12
          p.flow-text.left-align #{translation.ABOUT_P1}
        .col.s12.m12
          p.flow-text.left-align #{translation.ABOUT_P2}
  .container
    .row
      .divider
      br
      h4.center.bold #{translation.LT}
    .row.center
      .col.m4.s12
        span
          img.responsive-img.circle(src='../images/AdamLuba.webp', alt='', width='290')
          h4 #{translation.ADAMLUBA}
      .col.m4.s12
        span
          img.responsive-img.circle(src='../images/Vika.webp', alt='', width='290')
          h4 #{translation.VIKA}
      .col.m4.s12
        span
          img.responsive-img.circle(src='../images/Roma.webp', alt='', width='290')
          h4 #{translation.ROMA}
      
  .container
    .row
      .col.s12
        h1.center.bold #{translation.WHAT_WE_BELIEVE}
        h3.center.bold #{translation.OUR_SF}
        .container.divider
        h4.bold #{translation.SCRIPTURES}
        p.flow-text #{translation.SCRIPTURES_P}
        h4.bold #{translation.GOD}
        p.flow-text #{translation.GOD_P}
        h4.bold #{translation.JC}
        p.left.flow-text #{translation.JC_P}
        h4.bold #{translation.HS}
        p.flow-text #{translation.HS_P}
        h4.bold #{translation.HUMANITY}
        p.flow-text #{translation.HUMANITY_P}
        h4.bold #{translation.CHURCH}
        p.flow-text #{translation.CHURCH_P}
        h4.bold #{translation.DISCIPLESHIP}
        p.left.flow-text #{translation.DISCIPLESHIP_P}
        h4.bold #{translation.FUTURE}
        p.flow-text #{translation.FUTURE_P}
        blockquote #{translation.BLOCKQUOTE}
          ol.li #{translation.BLOCKQUOTE1}
          ol.li #{translation.BLOCKQUOTE2}
    
    .row
      .col.s12
        h4.bold.center #{translation.DISTINCTIVES}
        br
        h5.bold #{translation.D1}
        p.flow-text #{translation.D1P1}
        p.flow-text #{translation.D1P2}
        h5.bold #{translation.D2}
        p.flow-text #{translation.D2P1}
        p.flow-text #{translation.D2P2}
        h5.bold #{translation.D3}
        p.flow-text #{translation.D3P}
        h5.bold #{translation.D4}
        p.flow-text #{translation.D4P}
        h5.bold #{translation.D5}
        p.flow-text #{translation.D5P}
        h5.bold #{translation.D6}
        p.flow-text #{translation.D6P1}
        p.flow-text #{translation.D6P2}
        br
        h3.bold #{translation.WHO_WE_ARE}
        p.flow-text #{translation.WHO_WE_ARE_SUB}
        p.flow-text #{translation.WHO_WE_ARE_SUB1}
          blockquote
            ol.li.bold #{translation.WHO_WE_ARE_SUB2}
            ol.li.bold #{translation.WHO_WE_ARE_SUB3}
            ol.li.bold #{translation.WHO_WE_ARE_SUB5}
            ol.li.bold #{translation.WHO_WE_ARE_SUB4}
        br
        br
        br

        


      
      