extends layout
block content

  section
    .container
      .row
        .col.s12
          h2.white-text.center-align.contrast #{translation.WELCOME_MSG1}
          h4.white-text.center-align.contrast #{translation.WELCOME_MSG2}
          h2.white-text.center-align.contrast #{translation.WELCOME_MSG3}
          h2.white-text.center-align.flow-text.contrast 
            | 
            i #{translation.PURPOSE}
            |
          
  .center.gmap
    h2.bold #{translation.WHERE}
    .row
      .col.s12  
        //- iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1336.2290323425807!2d33.41203978353932!3d47.94686566778676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dadf8bb7a6beb9%3A0x56378ced765fcdec!2sKhartsyzka%20St%2C%20188%2C%20Kryvyi%20Rih%2C%20Dnipropetrovs'ka%20oblast%2C%2050000!5e0!3m2!1sen!2sua!4v1568026656832!5m2!1sen!2sua", width='1200', height='450', frameborder='0', style='border:0;', allowfullscreen='true', title="Google map frame which shows directions to the church")
        h4 Coming Soon
        

  .container
    .row
      .col.s12.m6
        h5 
          b #{translation.WHERE}
        p #{translation.WHERE_SUB}
        h5 
          b #{translation.WHEN}
        p #{translation.WHEN_SUB}
        h5
          b #{translation.CONTACT}
          p
            a.smaller.grey-text(href="mailto:narekbc@gmail.com")  narekbc@gmail.com
      .col.s12.m6
        h5.bold #{translation.LATEST_SERMON}
        h5.grey-text #{translation.TITLE_144}
        h6.grey-text #{translation.DECEMBER} 27, 2020 
        
          a.bold.grey-text(href='https://archive.org/download/2020-12-27/2020_12_27.mp3', download='') #{translation.DWNLD}
        audio(width='550px !important', controls='controls', preload='metadata', src='https://archive.org/download/2020-12-27/2020_12_27.mp3', type='audio/mpeg') Your browser does not support the audio element.
          

        
  
  block append scripts