extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}
  
  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_102}
        h5.grey-text #{translation.DECEMBER} 8, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050317/405_0317.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050317/405_0317.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_103}
        h5.grey-text #{translation.DECEMBER} 15, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050318/405_0318.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050318/405_0318.ogg', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_104}
        h5.grey-text #{translation.DECEMBER} 22, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050319/405_0319.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050319/405_0319.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_105}
        h5.grey-text #{translation.DECEMBER} 29, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050320/405_0320.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050320/405_0320.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_106}
        h5.grey-text #{translation.JANUARY} 5, 2020 | #{translation.IICORINTHIANS} 9:15 
          a.bold.grey-text(href='https://archive.org/download/4050321/405_0321.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050321/405_0321.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_107}
        h5.grey-text #{translation.JANUARY} 12, 2020 | 
          a.bold.grey-text(href='https://archive.org/download/4050322/405_0322.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050322/405_0322.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_108}
        h5.grey-text #{translation.JANUARY} 19, 2020 | 
          a.bold.grey-text(href='https://archive.org/download/4050323/405_0323.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050323/405_0323.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_109}
        h5.grey-text #{translation.JANUARY} 26, 2020 | #{translation.ACTS} 2 
          a.bold.grey-text(href='https://archive.org/download/4050324/405_0324.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050324/405_0324.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_110}
        h5.grey-text #{translation.FEBRUARY} 2, 2020 | 
          a.bold.grey-text(href='https://archive.org/download/4050325/405_0325.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050325/405_0325.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_111}
        h5.grey-text #{translation.FEBRUARY} 9, 2020 | #{translation.ACTS} 3-5 
          a.bold.grey-text(href='https://archive.org/download/4050326/405_0326.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050326/405_0326.ogg', type='audio/mpeg') Your browser does not support the audio element.


  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/sermon/10/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/sermon') 1
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/9/') 9
      li
        a(href='/audio/sermon/10/') 10
      li.waves-effect.active
        a(href='/audio/sermon/11/') 11
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/14/') 14
      li.waves-effect
        a(href='/audio/sermon/12/')
          i.material-icons chevron_right