extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_22}
        h5.grey-text #{translation.MARCH} 25, 2018 | #{translation.PHILIPPIANS} 4 
          a.bold.grey-text(href='https://archive.org/download/4050174/405_0174.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050174/405_0174.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_23}
        h5.grey-text #{translation.APRIL} 1, 2018 | #{translation.MATTHEW} 21 
          a.bold.grey-text(href='https://archive.org/download/4050175/405_0175.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050175/405_0175.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_24}
        h5.grey-text #{translation.APRIL} 8, 2018 | #{translation.ICORINTHIANS} 15 
          a.bold.grey-text(href='https://archive.org/download/4050177/405_0177.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050177/405_0177.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_25}
        h5.grey-text #{translation.APRIL} 15,  2018 | #{translation.TITUS} 
          a.bold.grey-text(href='https://archive.org/download/4050179/405_0179.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050179/405_0179.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_26}
        h5.grey-text #{translation.APRIL} 22, 2018 | #{translation.TITUS} 1:1-4 
          a.bold.grey-text(href='https://archive.org/download/4050182/405_0182.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050182/405_0182.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_27}
        h5.grey-text #{translation.APRIL} 29, 2018 | #{translation.TITUS} 1:5-9 
          a.bold.grey-text(href='https://archive.org/download/4050184/405_0184.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050184/405_0184.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_28}
        h5.grey-text #{translation.MAY} 6, 2018 | #{translation.TITUS} 1:10-16 
          a.bold.grey-text(href='https://archive.org/download/4050187/405_0187.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050187/405_0187.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_29}
        h5.grey-text #{translation.MAY} 13, 2018 | #{translation.TITUS} 2:1-10 
          a.bold.grey-text(href='https://archive.org/download/4050190/405_0190.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050190/405_0190.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_30}
        h5.grey-text #{translation.MAY} 20, 2018 | #{translation.TITUS} 2
          a.bold.grey-text(href='https://archive.org/download/4050193/405_0193.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050193/405_0193.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_31}
        h5.grey-text #{translation.MAY} 27, 2018 | #{translation.TITUS} 3:1-3
          a.bold.grey-text(href='https://archive.org/download/4050194/405_0194.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050194/405_0194.mp3', type='audio/mpeg') Your browser does not support the audio element.
        

  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/sermon/2/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/sermon') 1
      li.waves-effect
        a(href='/audio/sermon/2/') 2
      li.waves-effect.active
        a(href='/audio/sermon/3/') 3
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/13/') 13
      li
        a(href='/audio/sermon/4/')
          i.material-icons chevron_right