extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_32}
        h5.grey-text #{translation.JUNE} 3, 2018 | #{translation.TITUS} 3:4-8 
          a.bold.grey-text(href='https://archive.org/download/4050197/405_0197.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050197/405_0197.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_33}
        h5.grey-text #{translation.JUNE} 10, 2018 | #{translation.TITUS} 3:9-11 
          a.bold.grey-text(href='https://archive.org/download/4050202/405_0202.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050202/405_0202.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_34}
        h5.grey-text #{translation.JUNE} 17, 2018 | #{translation.PHILIPPIANS} 1:9-11 
          a.bold.grey-text(href='https://archive.org/download/4050209/405_0209.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050209/405_0209.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_35}
        h5.grey-text #{translation.JUNE} 24, 2018 | #{translation.TITUS} 3:12-15 
          a.bold.grey-text(href='https://archive.org/download/4050210/405_0210.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050210/405_0210.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_36}
        h5.grey-text #{translation.JULY} 1, 2018 | #{translation.JONAH} 1 
          a.bold.grey-text(href='https://archive.org/download/4050212/405_0212.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050212/405_0212.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_37}
        h5.grey-text #{translation.JULY} 8, 2018 | #{translation.JONAH} 2 
          a.bold.grey-text(href='https://archive.org/download/4050214/405_0214.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050214/405_0214.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_38}
        h5.grey-text #{translation.JULY} 22, 2018 | #{translation.JONAH} 3 
          a.bold.grey-text(href='https://archive.org/download/4050217/405_0217.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050217/405_0217.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_39}
        h5.grey-text #{translation.JULY} 29, 2018 | #{translation.JONAH} 4 
          a.bold.grey-text(href='https://archive.org/download/4050220/405_0220.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050220/405_0220.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_40}
        h5.grey-text #{translation.AUGUST} 5,  2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050222/405_0222.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050222/405_0222.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_41}
        h5.grey-text #{translation.AUGUST} 12, 2018 | #{translation.PSALMS} 2 
          a.bold.grey-text(href='https://archive.org/download/4050223/405_0223.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050223/405_0223.mp3', type='audio/mpeg') Your browser does not support the audio element.

  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/sermon/3/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/sermon') 1
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/2/') 2
      li
        a(href='/audio/sermon/3/') 3
      li.waves-effect.active
        a(href='/audio/sermon/4/') 4
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/13/') 13
      li.waves-effect
        a(href='/audio/sermon/5/')
          i.material-icons chevron_right