extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_42}
        h5.grey-text #{translation.AUGUST} 19, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050224/405_0224.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050224/405_0224.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_43}
        h5.grey-text #{translation.AUGUST} 26, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050225/405_0225.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050225/405_0225.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_44}
        h5.grey-text #{translation.SEPTEMBER} 9, 2018 | #{translation.MATTHEW} 11:28-30 
          a.bold.grey-text(href='https://archive.org/download/4050227/405_0227.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050227/405_0227.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_45}
        h5.grey-text #{translation.SEPTEMBER} 16, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050228/405_0228.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050228/405_0228.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_46}
        h5.grey-text #{translation.SEPTEMBER} 23,  2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050230/405_0230.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050230/405_0230.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_47}
        h5.grey-text #{translation.SEPTEMBER} 30, 2018 | #{translation.EPHESIANS} 1:1-2 
          a.bold.grey-text(href='https://archive.org/download/4050233/405_0233.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050233/405_0233.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_48}
        h5.grey-text #{translation.OCTOBER} 7, 2018 | #{translation.PSALMS} 118 
          a.bold.grey-text(href='https://archive.org/download/4050235/405_0235.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050235/405_0235.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_49}
        h5.grey-text #{translation.OCTOBER} 14,  2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050237/405_0237.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050237/405_0237.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_50}
        h5.grey-text #{translation.OCTOBER} 21, 2018 | #{translation.EPHESIANS} 1:3-6 
          a.bold.grey-text(href='https://archive.org/download/4050238/405_0238.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050238/405_0238.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_51}
        h5.grey-text #{translation.OCTOBER} 28, 2018 | #{translation.EPHESIANS} 1:7-12 
          a.bold.grey-text(href='https://archive.org/download/4050239/405_0239.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050239/405_0239.mp3', type='audio/mpeg') Your browser does not support the audio element.
    

  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/sermon/4/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/sermon') 1
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/3/') 3
      li
        a(href='/audio/sermon/4/') 4
      li.waves-effect.active
        a(href='/audio/sermon/5/') 5
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/14/') 14
      li.waves-effect
        a(href='/audio/sermon/6/')
          i.material-icons chevron_right