extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}
  
  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_62}
        h5.grey-text #{translation.JANUARY} 13, 2019 | #{translation.EPHESIANS} 2:19-22 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0264.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0264.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_63}
        h5.grey-text #{translation.JANUARY} 20, 2019 | #{translation.EPHESIANS} 3:1-6 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0266.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0266.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_64}
        h5.grey-text #{translation.JANUARY} 27, 2019 | #{translation.EPHESIANS} 3:7-13 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0268.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0268.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_65}
        h5.grey-text #{translation.FEBRUARY} 3, 2019 | #{translation.EPHESIANS} 3:14-21 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0271.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0271.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_66}
        h5.grey-text #{translation.FEBRUARY} 10, 2019 | #{translation.EPHESIANS} 4:1-6 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0273.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0273.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_67}
        h5.grey-text #{translation.FEBRUARY} 17, 2019 | #{translation.EPHESIANS} 4:7-11 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0274.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0274.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_68}
        h5.grey-text #{translation.FEBRUARY} 24, 2019 | #{translation.EPHESIANS} 4:12-16 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0276.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0276.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_69}
        h5.grey-text #{translation.MARCH} 17, 2019 | #{translation.EPHESIANS} 4:25-32 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0277.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0277.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_70}
        h5.grey-text #{translation.MARCH} 24, 2019 | #{translation.EPHESIANS} 5:1-6 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0278.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0278.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_71}
        h5.grey-text #{translation.MARCH} 31, 2019 | #{translation.EPHESIANS} 5:7-14 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0279.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0279.mp3', type='audio/mpeg') Your browser does not support the audio element.


  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/sermon/6/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/sermon/5/') 5
      li
        a(href='/audio/sermon/6/') 6
      li.waves-effect.active
        a(href='/audio/sermon/7/') 7
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/12/') 12
      li.waves-effect
        a(href='/audio/sermon/8/')
          i.material-icons chevron_right