extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}
  
  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_88}
        h5.grey-text #{translation.AUGUST} 25, 2019 | #{translation.EXODUS} 12 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0301.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0301.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_87}
        h5.grey-text #{translation.AUGUST} 18, 2019 | #{translation.GENESIS} 22 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0300.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0300.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_86}
        h5.grey-text #{translation.AUGUST} 4, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0299.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0299.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_85}
        h5.grey-text #{translation.JULY} 28, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0298.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0298.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_84}
        h5.grey-text #{translation.JULY} 21, 2019 | #{translation.EPHESIANS} 6:21-24 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0297.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0297.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_83}
        h5.grey-text #{translation.JULY} 14, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0296.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0296.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_82}
        h5.grey-text #{translation.JULY} 7, 2019 | #{translation.EPHESIANS} 6:18-20 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0295.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0295.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_81}
        h5.grey-text June 30, 2019 | #{translation.EPHESIANS} 6:10-13 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0294.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0294.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_80}
        h5.grey-text June 2, 2019 | #{translation.EPHESIANS} 6:5-9 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0292.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0292.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_79}
        h5.grey-text #{translation.MAY} 26, 2019 | #{translation.EPHESIANS} 6:1-4 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0290.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0290.mp3', type='audio/mpeg') Your browser does not support the audio element.
