extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}
  
  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_72}
        h5.grey-text #{translation.APRIL} 7, 2019 | #{translation.EPHESIANS} 5:15-21 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0280.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0280.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_73}
        h5.grey-text #{translation.APRIL} 14, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0281.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0281.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_74}
        h5.grey-text #{translation.APRIL} 21, 2019 | #{translation.MATTHEW} 21:1-7 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0282.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0282.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_75}
        h5.grey-text #{translation.APRIL} 28, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0283.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0283.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_76}
        h5.grey-text #{translation.MAY} 5, 2019 | #{translation.EPHESIANS} 5:22-33 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0285.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0285.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_77}
        h5.grey-text #{translation.MAY} 12, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0286.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0286.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_78}
        h5.grey-text #{translation.MAY} 19, 2019 | #{translation.EPHESIANS} 5:22-33 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0288.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0288.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_79}
        h5.grey-text #{translation.MAY} 26, 2019 | #{translation.EPHESIANS} 6:1-4 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0290.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0290.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_80}
        h5.grey-text June 2, 2019 | #{translation.EPHESIANS} 6:5-9 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0292.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0292.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_81}
        h5.grey-text June 30, 2019 | #{translation.EPHESIANS} 6:10-13 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0294.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0294.mp3', type='audio/mpeg') Your browser does not support the audio element.


  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/sermon/7/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/sermon') 1
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/6/') 6
      li
        a(href='/audio/sermon/7/') 7
      li.waves-effect.active
        a(href='/audio/sermon/8/') 8
      li.waves-effect.disabled
        a(href='#!') ...
      li.waves-effect
        a(href='/audio/sermon/13/') 13
      li.waves-effect
        a(href='/audio/sermon/9/')
          i.material-icons chevron_right