extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SUNDAY_SERMON}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TITLE_111}
        h5.grey-text #{translation.FEBRUARY} 9, 2020 | #{translation.ACTS} 3-5 
          a.bold.grey-text(href='https://archive.org/download/4050326/405_0326.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050326/405_0326.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_110}
        h5.grey-text #{translation.FEBRUARY} 2, 2020 | 
          a.bold.grey-text(href='https://archive.org/download/4050325/405_0325.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050325/405_0325.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_109}
        h5.grey-text #{translation.JANUARY} 26, 2020 | #{translation.ACTS} 2 
          a.bold.grey-text(href='https://archive.org/download/4050324/405_0324.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050324/405_0324.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_108}
        h5.grey-text #{translation.JANUARY} 19, 2020 | 
          a.bold.grey-text(href='https://archive.org/download/4050323/405_0323.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050323/405_0323.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_107}
        h5.grey-text #{translation.JANUARY} 12, 2020 | 
          a.bold.grey-text(href='https://archive.org/download/4050322/405_0322.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050322/405_0322.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_106}
        h5.grey-text #{translation.JANUARY} 5, 2020 | #{translation.IICORINTHIANS} 9:15 
          a.bold.grey-text(href='https://archive.org/download/4050321/405_0321.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050321/405_0321.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_105}
        h5.grey-text #{translation.DECEMBER} 29, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050320/405_0320.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050320/405_0320.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_104}
        h5.grey-text #{translation.DECEMBER} 22, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050319/405_0319.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050319/405_0319.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_103}
        h5.grey-text #{translation.DECEMBER} 15, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050318/405_0318.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050318/405_0318.ogg', type='audio/mpeg') Your browser does not support the audio element.
    .row
      .col.s12
        h3.bold #{translation.TITLE_102}
        h5.grey-text #{translation.DECEMBER} 8, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050317/405_0317.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050317/405_0317.ogg', type='audio/mpeg') Your browser does not support the audio element.
    .row
      .col.s12
        h3.bold #{translation.TITLE_101}
        h5.grey-text #{translation.DECEMBER} 1, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050315/405_0315.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050315/405_0315.ogg', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_100}
        h5.grey-text #{translation.NOVEMBER} 24, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050314/405_0314.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050314/405_0314.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_99}
        h5.grey-text #{translation.NOVEMBER} 17, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/4050313/405_0313.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050313/405_0313.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_98}
        h5.grey-text #{translation.NOVEMBER} 10, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/audio_2019-11-10/audio_2019-11-10.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/audio_2019-11-10/audio_2019-11-10.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_97}
        h5.grey-text #{translation.NOVEMBER} 3, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/audio_2019-11-03/audio_2019-11-03.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/audio_2019-11-03/audio_2019-11-03.ogg', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_96}
        h5.grey-text #{translation.OCTOBER} 27, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/405309/405_309.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/405309/405_309.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_95}
        h5.grey-text #{translation.OCTOBER} 13, 2019 | #{translation.ZEPHANIAH} 1-3 
          a.bold.grey-text(href='https://archive.org/download/4050307/405_0307.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050307/405_0307.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_94}
        h5.grey-text #{translation.OCTOBER} 6, 2019 | #{translation.HABAKKUK} 1-3 
          a.bold.grey-text(href='https://archive.org/download/4050306/405_0306.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050306/405_0306.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_93}
        h5.grey-text #{translation.SEPTEMBER} 29, 2019 | #{translation.DANIEL} 6 
          a.bold.grey-text(href='https://archive.org/download/4050305/405_0305.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050305/405_0305.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_92}
        h5.grey-text #{translation.SEPTEMBER} 22, 2019 | #{translation.DANIEL} 3 
          a.bold.grey-text(href='https://archive.org/download/4050304/405_0304.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050304/405_0304.ogg', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_91}
        h5.grey-text #{translation.SEPTEMBER} 15, 2019 | #{translation.IKINGS} 18 
          a.bold.grey-text(href='https://archive.org/download/4050303/405_0303.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050303/405_0303.ogg', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_90}
        h5.grey-text #{translation.SEPTEMBER} 8, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/2019090811.48.03/2019-09-08%2011.48.03.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/2019090811.48.03/2019-09-08%2011.48.03.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_89}
        h5.grey-text #{translation.SEPTEMBER} 1, 2019 | #{translation.JOSHUA} 1:1-9 
          a.bold.grey-text(href='https://archive.org/download/2019090111.56.57/2019-09-01%2011.56.57.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/2019090111.56.57/2019-09-01%2011.56.57.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_88}
        h5.grey-text #{translation.AUGUST} 25, 2019 | #{translation.EXODUS} 12 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0301.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0301.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_87}
        h5.grey-text #{translation.AUGUST} 18, 2019 | #{translation.GENESIS} 22 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0300.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0300.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_86}
        h5.grey-text #{translation.AUGUST} 4, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0299.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0299.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_85}
        h5.grey-text #{translation.JULY} 28, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0298.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0298.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_84}
        h5.grey-text #{translation.JULY} 21, 2019 | #{translation.EPHESIANS} 6:21-24 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0297.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0297.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_83}
        h5.grey-text #{translation.JULY} 14, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0296.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0296.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_82}
        h5.grey-text #{translation.JULY} 7, 2019 | #{translation.EPHESIANS} 6:18-20 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0295.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0295.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_81}
        h5.grey-text June 30, 2019 | #{translation.EPHESIANS} 6:10-13 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0294.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0294.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_80}
        h5.grey-text June 2, 2019 | #{translation.EPHESIANS} 6:5-9 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0292.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0292.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_79}
        h5.grey-text #{translation.MAY} 26, 2019 | #{translation.EPHESIANS} 6:1-4 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0290.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0290.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_78}
        h5.grey-text #{translation.MAY} 19, 2019 | #{translation.EPHESIANS} 5:22-33 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0288.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0288.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_77}
        h5.grey-text #{translation.MAY} 12, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0286.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0286.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_76}
        h5.grey-text #{translation.MAY} 5, 2019 | #{translation.EPHESIANS} 5:22-33 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0285.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0285.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_75}
        h5.grey-text #{translation.APRIL} 28, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0283.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0283.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_74}
        h5.grey-text #{translation.APRIL} 21, 2019 | #{translation.MATTHEW} 21:1-7 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0282.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0282.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_73}
        h5.grey-text #{translation.APRIL} 14, 2019 | 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0281.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0281.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_72}
        h5.grey-text #{translation.APRIL} 7, 2019 | #{translation.EPHESIANS} 5:15-21 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0280.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0280.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_71}
        h5.grey-text #{translation.MARCH} 31, 2019 | #{translation.EPHESIANS} 5:7-14 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0279.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0279.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_70}
        h5.grey-text #{translation.MARCH} 24, 2019 | #{translation.EPHESIANS} 5:1-6 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0278.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0278.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_69}
        h5.grey-text #{translation.MARCH} 17, 2019 | #{translation.EPHESIANS} 4:25-32 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0277.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0277.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_68}
        h5.grey-text #{translation.FEBRUARY} 24, 2019 | #{translation.EPHESIANS} 4:12-16 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0276.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0276.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_67}
        h5.grey-text #{translation.FEBRUARY} 17, 2019 | #{translation.EPHESIANS} 4:7-11 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0274.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0274.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TITLE_66}
        h5.grey-text #{translation.FEBRUARY} 10, 2019 | #{translation.EPHESIANS} 4:1-6 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0273.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0273.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_65}
        h5.grey-text #{translation.FEBRUARY} 3, 2019 | #{translation.EPHESIANS} 3:14-21 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0271.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0271.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_64}
        h5.grey-text #{translation.JANUARY} 27, 2019 | #{translation.EPHESIANS} 3:7-13 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0268.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0268.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_63}
        h5.grey-text #{translation.JANUARY} 20, 2019 | #{translation.EPHESIANS} 3:1-6 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0266.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0266.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TITLE_62}
        h5.grey-text #{translation.JANUARY} 13, 2019 | #{translation.EPHESIANS} 2:19-22 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0264.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0264.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_61}
        h5.grey-text #{translation.JANUARY} 6, 2019 | #{translation.LUKE} 2 #{translation.MATTHEW} 2 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0262.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0262.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_60}
        h5.grey-text #{translation.DECEMBER} 30, 2018 | #{translation.LUKE} 2:1-20 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0260.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0260.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_59}
        h5.grey-text #{translation.DECEMBER} 23, 2018 | #{translation.LUKE} 1 #{translation.MATTHEW} 1 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0258.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0258.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TITLE_58}
        h5.grey-text #{translation.DECEMBER} 16, 2018 | #{translation.EPHESIANS} 2:14-18 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0255.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0255.mp3', type='audio/mpeg') Your browser does not support the audio element.

  .container.center
    ul.pagination
      li.disabled
        a(href='#!')
          i.material-icons chevron_left
      li.waves-effect.active
        a(href='/audio/sermon') 1
      li
        a(href='/audio/sermon/2/') 2
      li.waves-effect
        a(href='/audio/sermon/3/') 3
      li.waves-effect
        a(href='/audio/sermon/4/') 4
      li.waves-effect
        a(href='/audio/sermon/5/') 5
      li.waves-effect
        a(href='/audio/sermon/6/') 6
      li.waves-effect
        a(href='/audio/sermon/7/') 7
      li.waves-effect
        a(href='/audio/sermon/2/')
          i.material-icons chevron_right

  

  

  block append scripts

  
        
        
        