extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text Tuesday Bible Study
  
  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TBS_37}
        h5.grey-text #{translation.DECEMBER} 6,  2018 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0251.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0251.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TBS_36}
        h5.grey-text #{translation.NOVEMBER} 15, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050244/405_0244.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050244/405_0244.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TBS_35}
        h5.grey-text #{translation.NOVEMBER} 8, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050242/405_0242.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050242/405_0242.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_34}
        h5.grey-text #{translation.NOVEMBER} 1, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050240/405_0240.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050240/405_0240.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_33}
        h5.grey-text #{translation.OCTOBER} 11, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050236/405_0236.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050236/405_0236.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_32}
        h5.grey-text #{translation.OCTOBER} 4, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050234/405_0234.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050234/405_0234.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TBS_31}
        h5.grey-text #{translation.SEPTEMBER} 27, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050231/405_0231.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050231/405_0231.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_30}
        h5.grey-text #{translation.AUGUST} 2, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050221/405_0221.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050221/405_0221.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_29}
        h5.grey-text #{translation.JULY} 26, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050219/405_0219.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050219/405_0219.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_28}
        h5.grey-text #{translation.JULY} 19, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050216/405_0216.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050216/405_0216.mp3', type='audio/mpeg') Your browser does not support the audio element.
    

  .container.center
    ul.pagination
      li.waves-effect
        a(href='/audio/bible-study/')
          i.material-icons chevron_left
      li.waves-effect
        a(href='/audio/bible-study/') 1
      li.active.waves-effect
        a(href='/audio/bible-study/2/') 2
      li.waves-effect
        a(href='/audio/bible-study/3/') 3
      li.waves-effect
        a(href='/audio/bible-study/4/') 4
      li.waves-effect
        a(href='/audio/bible-study/5/') 5
      li.waves-effect
        a(href='/audio/bible-study/3/')
          i.material-icons chevron_right

  

  

  block append scripts

  
        
        
        