extends ../../layout
block content

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.TBS}
  
  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.TBS_47}
        h5.grey-text #{translation.FEBRUARY} 21, 2019 
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0275.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0275.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TBS_46}
        h5.grey-text #{translation.FEBRUARY} 7, 2019 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0272.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0272.mp3', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.TBS_45}
        h5.grey-text #{translation.JANUARY} 31, 2019 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0267.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0267.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_44}
        h5.grey-text #{translation.JANUARY} 24, 2019 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0271.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0271.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_43}
        h5.grey-text #{translation.JANUARY} 17, 2019 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0265.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0265.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_42}
        h5.grey-text #{translation.JANUARY} 10, 2019 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0263.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0263.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.TBS_41}
        h5.grey-text #{translation.JANUARY} 3, 2019 
          a.bold.grey-text(href='https://archive.org/download/4050272/405_0261.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050272/405_0261.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_40}
        h5.grey-text #{translation.DECEMBER} 27, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0259.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0259.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_39}
        h5.grey-text #{translation.DECEMBER} 20, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0257.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0257.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.TBS_38}
        h5.grey-text #{translation.DECEMBER} 13, 2018 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0254.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0254.mp3', type='audio/mpeg') Your browser does not support the audio element.
    

  .container.center
    ul.pagination
      li.disabled
        a(href='#!')
          i.material-icons chevron_left
      li.waves-effect.active
        a(href='/audio/bible-study/') 1
      li.waves-effect
        a(href='/audio/bible-study/2/') 2
      li.waves-effect
        a(href='/audio/bible-study/3/') 3
      li.waves-effect
        a(href='/audio/bible-study/4/') 4
      li.waves-effect
        a(href='/audio/bible-study/5/') 5
      li.waves-effect
        a(href='/audio/bible-study/2/')
          i.material-icons chevron_right

  

  

  block append scripts

  
        
        
        