extends ../../layout
block content
  

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.DISCIPLESHIP}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.DISCIPLESHIP} #{translation.PART} 6
        h5.grey-text #{translation.JUNE} 16, 2019 |  
          a.bold.grey-text(href='https://archive.org/download/405_0296-1/audio_2019-08-29_17-03-06.ogg', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/405_0296-1/audio_2019-08-29_17-03-06.ogg', type='audio/mpeg') Your browser does not support the audio element.
        
    .row
      .col.s12
        h3.bold #{translation.DISCIPLESHIP} #{translation.PART} 5
        h5.grey-text #{translation.JUNE} 9, 2019 |  
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0293.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0293.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.DISCIPLESHIP} #{translation.PART} 4
        h5.grey-text #{translation.JUNE} 2, 2019 |  
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0291.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0291.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.DISCIPLESHIP} #{translation.PART} 3
        h5.grey-text #{translation.MAY} 26, 2019 |  
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0289.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0289.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.DISCIPLESHIP} #{translation.PART} 2
        h5.grey-text #{translation.MAY} 12, 2019 |  
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0287.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0287.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.DISCIPLESHIP} #{translation.PART} 1
        h5.grey-text #{translation.MAY} 5, 2019 |  
          a.bold.grey-text(href='https://archive.org/download/275-301/405_0284.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/275-301/405_0284.mp3', type='audio/mpeg') Your browser does not support the audio element.
  