extends ../../layout
block content
  

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.COLLEGE}
  .container
    .row
      .col.s12.m4
        .card
          .card-image
            img(src='../images/sample.jpg')
            span.card-title.bold #{translation.SPIRITUAL_LIFE}
          .card-action
            a(href='/audio/college/spiritual-life') #{translation.LISTEN}

      .col.s12.m4
        .card
          .card-image
            img(src='../images/sample.jpg')
            span.card-title.bold #{translation.DISCIPLESHIP}
          .card-action
            a(href='/audio/college/discipleship') #{translation.LISTEN}

      .col.s12.m4
        .card
          .card-image
            img( src='../images/sample.jpg')
            span.card-title.bold #{translation.THEOLOGY_COURSE}
          .card-action
            a(href='/audio/college/theology-course') #{translation.LISTEN}

      .col.s12.m4
        .card
          .card-image
            img(src='../images/sample.jpg')
            span.card-title.bold #{translation.NEW_TESTAMENT_SURVEY}
          .card-action
            a(href='/audio/college/nt-survey') #{translation.LISTEN}
      