extends ../../layout
block content
  

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.NTS}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 8
        h5.grey-text #{translation.DECEMBER} 5, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050136/405_0136.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050136/405_0136.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 7
        h5.grey-text #{translation.NOVEMBER} 28, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050130/405_0130.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050130/405_0130.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 6
        h5.grey-text #{translation.NOVEMBER} 21, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050120/4050126.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050120/4050126.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 5
        h5.grey-text #{translation.NOVEMBER} 13, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050123/4050123.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050123/4050123.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 4
        h5.grey-text #{translation.NOVEMBER} 6, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050120_20171| 1/405_0120.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050120_20171| 1/405_0120.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 3
        h5.grey-text #{translation.OCTOBER} 23, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050115/405_0115.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050115/405_0115.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 2
        h5.grey-text #{translation.OCTOBER} 16, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050110/405_0110.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050110/405_0110.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.NTS} #{translation.PART} 1
        h5.grey-text #{translation.OCTOBER} 9, 2017 | 
          a.bold.grey-text(href='https://archive.org/download/4050103/405_0103.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050103/405_0103.mp3', type='audio/mpeg') Your browser does not support the audio element.
  