extends ../../layout
block content
  

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.SPIRITUAL_LIFE}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.SPIRITUAL_LIFE} #{translation.PART} 4
        h5.grey-text #{translation.DECEMBER} 16, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0256.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0256.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.SPIRITUAL_LIFE} #{translation.PART}3
        h5.grey-text #{translation.DECEMBER} 9, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0253.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0253.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.SPIRITUAL_LIFE} #{translation.PART}2
        h5.grey-text #{translation.DECEMBER} 2, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050256/405_0250.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050256/405_0250.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.SPIRITUAL_LIFE} #{translation.PART}1
        h5.grey-text #{translation.NOVEMBER} 25, 2018 | 
          a.bold.grey-text(href='https://archive.org/download/4050248/405_0248.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050248/405_0248.mp3', type='audio/mpeg') Your browser does not support the audio element.
  