extends ../../layout
block content
  

  .showcase1
    .container
      .row
        .col.s12
          h2.bold.center.white-text #{translation.THEOLOGY_COURSE}

  .sermon-wrapper
    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 7
        h5.grey-text #{translation.JUNE} 10, 2018 |  
          a.bold.grey-text(href='https://archive.org/download/4050207/405_0207.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050207/405_0207.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 6
        h5.grey-text #{translation.MAY} 27, 2018 |   
          a.bold.grey-text(href='https://archive.org/download/4050195/405_0195.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050195/405_0195.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 5
        h5.grey-text #{translation.MAY} 13, 2018 |  
          a.bold.grey-text(href='https://archive.org/download/4050191/405_0191.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050191/405_0191.mp3', type='audio/mpeg') Your browser does not support the audio element.
    
    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 4
        h5.grey-text #{translation.MAY} 6, 2018 |  
          a.bold.grey-text(href='https://archive.org/download/4050188/405_0188.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050188/405_0188.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 3
        h5.grey-text #{translation.APRIL} 29, 2018 |  
          a.bold.grey-text(href='https://archive.org/download/4050185/405_0185.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050185/405_0185.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 2
        h5.grey-text #{translation.APRIL} 22, 2018 |  
          a.bold.grey-text(href='https://archive.org/download/4050183/405_0183.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050183/405_0183.mp3', type='audio/mpeg') Your browser does not support the audio element.

    .row
      .col.s12
        h3.bold #{translation.THEOLOGY_COURSE} #{translation.PART} 1
        h5.grey-text #{translation.APRIL} 15, 2018 |  
          a.bold.grey-text(href='https://archive.org/download/4050180/405_0180.mp3', download='') #{translation.DWNLD}
        audio(controls='controls', preload='metadata', src='https://archive.org/download/4050180/405_0180.mp3', type='audio/mpeg') Your browser does not support the audio element.

  